<div class="flex space-x-4">
    <div class="hide-mobile">
        <ul class="mt-5 w-40">
            @for (ca of categories(); track ca) {
            <li>
                <a routerLink="/" [queryParams]="{category_id: ca.id}">{{ca.name}}</a>
            </li>
            }
        </ul>
    </div>
    <div class="container mx-auto w-full">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
            @for (product of products(); track product) {
                <app-product               
                [product]="product"
                (addToCartClicked)="addToCart($event)" />
            }
        </div>
    </div>
</div>