.product-page {
    width: 90%;
    margin: 80px auto;
    > .back-btn {
      background-color: var(--white);
      border: 0;
      cursor: pointer;
      color: var(--hospital-green);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      margin-bottom: 1.6rem;
      font-size: 2rem;
      > svg {
        width: 2.5rem;
      }
    }
  }
.back-btn {
    background-color: var(--white);
    border: 0;
    cursor: pointer;
    color: var(--hospital-green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    > svg {
      width: 2.5rem;
    }
  }