.title{
    display: none;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .title {
        display: block;
    }
}
  
/* Large and up */
@media screen and (min-width: 64em) {
    .title {
        display: block;
    }
}